<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href ="/book/lists">Booksdata</a>
    <h3>Salient features</h3>
      <ul>
        <li>Optimized code with a time complexity O(n) (n - stands for number of  books)</li>
        <li>Unchanged space  complexity working with  the  given  data without  changing  any field </li>
        <li>Used ejs  template for views</li>
        <li>Used Express module  for server </li>
        <li>Tabular representation of the data</li>
        <li>Neat Html Template code and  rendered only books  object  from json file</li>
        <li>Learned how  to work on  Node js within one day </li>
      </ul>
      <h3>Drawbacks</h3>
      <ul>
        <li>Poor interactive console</li>
        <li>Started working  with  absolute zero experience in  Nodejs </li>
        <li>App.js file  might  look  ugly  coz  of  improper indentation.</li>
        <li>Only tried to focus  on  backend</li>
      </ul>
      <b>Sir please  let  me know  if  u  want  some  changes  or  additional  features to  be  added  in the  app i will try to figure them out  before the  deadline.</b>

  </body>
</html>
