<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  <body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/book/lists"><b>current number  of  books : <%=posts.length%> (click to see)</b></a></li>
  <li><a href="/about">About</a></li>

</ul>

  <h3>Hello there welcome to  the  home page </h3>
  </body>
</html>
